
/* Middle colum */
.main-content {
  width: 45%;
  margin-left:27%;

/* font-family: 'Helvetica'; */
}

strong {
  font-size: 1.2em;
}

.header {
  text-align: left;
  width: 45%;
  margin-left:27%;
  margin-right:5%;
  margin-bottom: 3%;
}

/* Footer */
footer {
  padding: 20px;
  text-align: center;
  margin-top: 20px;
  color:
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .main-content  {
    width: 100%;
  margin: 0;
  }

  .header {
    width: 100%;
    margin: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}

article img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  transition: 1s;
  margin-top: 5%;
  margin-bottom: 3%;
  border-radius: 2px;
  opacity: 50%;
}

article img:hover {
  opacity: 100%;
  transition: 1s;
  transform: scale(1.1);
}

h1 {
  font-family: "Lato", "Lucida Sans", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
}

h2 {
  font-family: "Lato";
  font-weight: 100;
  font-size: 1.8em;
}

h2, h3, h4, h5, h6 {
  font-family: "Futura", "Helvetica", "Arial", sans-serif;
}


.topnav {
  text-align: right;
  border-bottom: 2px solid #DFD1C6;
  margin-top: 3%;
  margin-bottom: 3%;
}

/* Change color on hover */
.topnav a:hover {
  font-style: bold;
}

.topnav a.active {
  color: #413B40;
}

/* Style the topnav links */
.topnav a {
  text-align: center;
  padding: 1% 1%;
  text-decoration: none;
  font-size: 150%;
  font-family: "Consolas", "Monaco", "Monospace", sans-serif;
}

.site-title {
  margin-bottom:0%;
}

.socials {
  text-align: center;
  float: right;
  line-height: 3em;
  height: 3em;
  margin-top:1.2%;
  margin-right:1.5%;
}

.socials a:hover {
  font-size: 1.33em;
  transition: 0.2s;
  opacity: 100%;
}

.socials a {
  font-size: 1em;
  transition: 0.5s;
  opacity: 50%;
}

.itch-icon:hover {
  color: #fa5c5c;
  transition: 0.2s;
}

.twitter-icon:hover {
  color: #55acee;
  transition: 0.2s;
}

.linkdin-icon:hover {
  color: #0077B5;
  transition: 0.2s;
}

.reddit-icon:hover {
  color: #FF5700;
  transition: 0.2s;
}

.medium-icon:hover {
  color: white;
  background-color: black;
  transition: 0.2s;
}

.github-icon:hover {
  color: purple;
  transition: 0.2s;
}

.youtube-icon:hover {
  color: #FF0000;
  transition: 0.2s;
}

.header-description {
  font-family: "Consolas", "Monaco", "Monospace", sans-serif;
  font-size: 1.5em;
  opacity: 50%;
}

article {
  font-family: "Lato";
  font-weight: 300;
  font-size: 1.3em;
}

article a {
}

body {
}

#pacman {
  float: right;
}

.post-card img {
  width: 170px;
  height:170px;
  object-fit: cover;
  float: right;
  margin-right: 10%;
  border-radius: 2px;
}

.post-card-title {
  margin:0;
  font-size: 270%;
  line-height: 80%;
}

.post-card-brief {
  font-size: 120%;
  margin:0;
  line-height: 100%;
  margin-top: 1%;
  margin-bottom: 2%;
  margin-right: 30%;
}

.post-card-date {
  margin: 0;
  font-size: 90%;
  margin-top: 3%;
  opacity: 50%;
}

.post-card a {
  text-decoration: none;
}

.post-card {
  margin-top:6%;
  margin-bottom:6%;
  width:85%;
  height: 30%;
  margin-left: 2%;
}

iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  font-style:italic;
  font-family: "Monaco";
  border-radius:5px;
  padding: 1% 1% 2% 2%;
}

.small-remark {
  font-style:italic;
  font-size: 60%;
  opacity:50%;
}

.ytb-video {
  margin-bottom: 5%;
}

th, td {
  border-bottom: 1px solid #FAF2EC;
  padding: 15px;
  text-align: left;
  font-size: 80%;
}

#table_of_content {
}

#site-title {
  line-height: 100%;
}

.site-title-link {
  text-decoration: none;
}

#theme-toggle {
  border: none;
  cursor: progress;
}


#theme-toggle:hover {
  cursor: pointer;
}

#fixed-zone {
  position        : fixed;
  top             : 2%;
  left            : 2%;
  width:20%;
}

.post-date {
  font-size: 70%;
}

.language-link {
  text-decoration: none;
  margin-top: 15px;
  font-family: "Consolas", "Monaco", "Monospace", sans-serif;
  font-size: 1.5em;
}

.support_button {
  width: 100px;
  height: 50px;
  margin-top: 5%;
}

.support-zone {
  margin-top: 170%;
  font-family: "Consolas", "Monaco", "Monospace", sans-serif;
  font-size: 1.5em;
  opacity: 50%;
  transition: 1s;
}

.support-zone:hover {
  opacity: 100%;
  transition: 1s;
}

.tip-button {
  width: 15%;
  height: 15%;
  transition: 1s;
  margin-bottom: 2%;
}

.tip-button:hover {
  width: 20%;
  height: 20%;
  opacity: 90%;
  transition: 0.2s;
}

.page-status {
  opacity:50%;
  transition: 1s;
}

.page-status:hover {
  opacity:100%;
  transition: 1s;
}

/* Style the collapsible content. Note: hidden by default */
.collapsible-content {
  padding: 0 18px;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.8s ease-out;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible-button {
  font-family: "print_clearlyregular";
  font-size: 1.4em;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible-button:hover {
  border: solid;
  transition: border 0.1s ease-out;
}

.collapsible-button:before {
  content: '\02C3   '; /* Unicode character for right arrow */
  font-size: 22px;
  color: #444;
  margin-left: 5px;
}

.section-read:after {
  content: '\2713';
  float: right;
}

.collapsible-button.active:before {
  content: "\02C5   "; /* Unicode character for down arrow */
}

blockquote p::before {
  content: "«";
}
blockquote p::after {
  content: '»';
}

blockquote {
  font-family: 'print_clearlyregular';
}

@media (max-width: 1024px) {

  article img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    transition: 1s;
    margin-top: 5%;
    margin-bottom: 3%;
    border-radius: 2px;
    opacity: 100%;
  }

  
#fixed-zone {
  position: absolute;
  display: block;
  width:20%;
  opacity: 0%;
} 

}

