h3, h4, h5, h6 {
    font-family: "Lato", "Futura", sans-serif;
}

h2 {
    font-family: "Lato", "Futura", sans-serif;
    font-weight: 300;
    font-size: 1.2em;
}

article img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    transition: 1s;
    margin-top: 5%;
    margin-bottom: 3%;
    border-radius: 2px;
  }
  
  article img:hover {
    transition: 1s;
    transform: scale(1.1);
  }

  article {
    font-family: "Lato";
    font-weight: 400;
    font-size: 1.3em;
  }

  blockquote {
    font-style:italic;
    font-family: "Lato", "Futura", sans-serif;
    border-radius:5px;
    padding: 1% 1% 2% 2%;
  }
  
  .small-remark {
    font-style:italic;
    font-size: 60%;
    opacity:50%;
  }
  
  .ytb-video {
    margin-bottom: 5%;
  }
  
  th, td {
    border-bottom: 1px solid #FAF2EC;
    padding: 15px;
    text-align: left;
    font-size: 80%;
  }

  /* Style the collapsible content. Note: hidden by default */
.collapsible-content {
    padding: 0 18px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.8s ease-out;
  }
  
  /* Style the button that is used to open and close the collapsible content */
  .collapsible-button {
    font-family: "Lato", "Futura", sans-serif;
    font-weight: 300;
    font-size: 1.4em;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .collapsible-button.active, .collapsible-button:hover {
    border: solid;
    transition: border 0.1s ease-out;
  }
  
  .collapsible-button:before {
    content: '\02C3'; /* Unicode character for right arrow */
    margin-right: 2%;
    font-size: 22px;
    color: #00cc99;
    margin-left: 5px;
  }
  
  .section-read:after {
    content: '  \2713';
    color: #00cc99;
  }
  
  .collapsible-button.active:before {
    content: "\02C5   "; /* Unicode character for down arrow */
  }
  
  blockquote p::before {
    content: "«";
  }
  blockquote p::after {
    content: '»';
  }
  
  blockquote {
    font-family: "Lato", "Futura", sans-serif;
  }

  @media (max-width: 1024px) {

    article img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      transition: 1s;
      margin-top: 5%;
      margin-bottom: 3%;
      border-radius: 2px;
      opacity: 100%;
    }
}

hr {
  width: 80%;
  margin-left: 10%;
}
  