.post_card {
  color: white;
  background-color: white;
  background-repeat: no-repeat; background-size: cover;
  padding: 0px;
  margin-top: 20px;
  box-shadow: 1px 2px 4px #888888;
  transition: 0.3s;
}

.post_card:hover {
  transform: scale(1.1);
}

.post_card a {
    text-decoration: none; /* No underlines on the link */
}

.post_card .publish-date {
  font-size: 1em;
  margin:0;
  padding:0;
}

.post_card_description_bloc {
  padding: 1%;
  padding-bottom: 0.1%;
  padding-right: 50%;
}

.post-card-title {
  margin-top:0;
  padding-left:100px;
}

.post-card-brief {
  text-indent: 10em;
  margin:10%;
}
